# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
main
*.exe
*.exe~
*.dll
*.so
*.dylib
*dump.rdb
*.rdb
# Test binary, built with `go test -c`
*.test
config/
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
 vendor/

# Go workspace file
go.work
go.work.sum

.env
docs/
logs/
cronlogs/
config.yaml
_ignore/
app.env
tmp/
.idea/
playground/
build-errors.log
*.toml

temp
telex_be
telexbe_staging
telexbe_main
cypress_tests/node_modules
cypress_tests/cypress.env.json
cypress_tests/cypress/screenshots
cypress_tests/cypress/reports
