.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:500px;
  height: 500px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(211, 18, 18, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

/* .modal-content {
  } */

.modal-actions {
  margin-top: 10px;
  text-align: right;
}
