#fa-times {
  color: white;
  font-size: 20px;
}

/* #fa-times1 {
  color: #002146;
  font-size: 18px;
} */


.sidenav-collaped {
  width: 200px;
  height: 100vh;
}

.logobutton {
  position: relative;
}

/* .logobutton span{
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
} */


.logobutton:hover {
  display: block;
}
/* #iconicon {
  margin-bottom: 2px;
  padding-bottom: 2px;
} */

.logo {
  position: relative;
}

.logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #sidenav-nav-link {
  position: relative;
}

#sidenav-nav-text {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

#sidenav-nav-link:hover .sidenav-nav-text{
  display: block;
} */
