
main {
    background-image: url(../../../assets/images/backpicc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d9e9fa;
    background-blend-mode: overlay;
  }
