<body class="h-full">
  <section id="hero" class="h-full">
    <!-- Flex Container -->

    <div
      class="container flex flex-col w-4/5 space-y-12 mx-auto sm:space-x-4 md:space-y-0 md:space-x-8 sm:flex-col mt-24 md:flex-row"
    >
      <!-- Left item -->
      <div
        class="space-y-12 w-full bg-zinc-200 rounded-lg text-primary p-8 sm:w-full md:w-1/2"
      >
      <h1 class="text-4xl font-semibold text-center md:text-4xl md:text-left">Contact us</h1>
      <p class="text-center md:text-left">
        Reach our help centre anytime, anywhere or everyday to get assistance
        using our products and services.
      </p>

        <h1 class="text-3xl font-semibold text-center md:text-4xl md:text-left">
            We Are at Your Service
        </h1>

        <div class="">
            <img
              class="rounded-lg"
              src="../../../assets/images/custsupp.jpg"
              alt="customer support"
            />
          </div>
      </div>

      <!-- right side -->
      <div class="space-y-12 w-full text-primary sm:w-full md:w-1/2">
        <!-- up part -->
        <div class="bg-zinc-200 space-y-12 p-4 rounded-lg sm:w-full md:w-full">
          <h1 class="text-xl font-medium text-center md:text-3xl md:text-left">
            Office Address
          </h1>
          <p class="text-center md:text-left">
            First Bank of Nigeria Ltd.
            <br> <br>
            Head Office Address
            <br> <br>
            Samuel Asabia House
            <br>
            35 Marina
            <br>
            P.O. Box 5216,
            <br>
            Lagos,
            <br>
            Nigeria.
          </p>
        </div>

        <!-- down part -->
        <div class="bg-zinc-200 space-y-12 p-4 rounded-lg sm:w-full md:w-full">
          <h1 class="text-xl font-medium text-center md:text-3xl md:text-left">
            Helpdesk
          </h1>
          <p class="text-center md:text-left">
            FirstContact
            <br> <br>
            Tel: +234 1 905 2326
            <br>
            Tel: +234 708 062 5000
            <br>
            Tel: +234 1 448 5500
            <br>
            Email : firstcontactcomplaints&#64;firstbanknigeria.com
            <br>
            Help Desk: Fbn_help on twitter 
          </p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </section>
</body>
>
