<main>
  <div class="container">
    <section id="one">
      <form class="col-6" [formGroup]="signUpForm" (submit)="onSubmit()">
        <h1 id="title">Create a new account</h1>
        <br />
        <label>Last name</label><br />
        <input type="text" id="lastname" name="lastName" required /><br />
        <label>First name</label><br />
        <input type="text" id="firstname" name="firstName" required /><br />
        <label>Username</label><br />
        <input
          type="text"
          id="username"
          name="userName"
          required
          formControlName="username"
        /><br />
        <label>Password</label><br />
        <input
          type="password"
          id="pwd"
          name="password"
          required
          formControlName="password"
        /><br />
        <label>Password(again)</label><br />
        <input type="password" id="pwd" name="password" required /><br />
        <label>Email</label><br />
        <input
          type="text"
          id="country"
          name="email"
          formControlName="email"
        /><br />
        <button id="create" >{{isLoading?'Creating': 'Create'}} </button>
        <button id="cancel">Cancel</button>
        <p id="write">
          Got an Account?<br />
          <a
            [routerLink]="['/login']"
            routerLinkActive="active active-style"
            [routerLinkActiveOptions]="{ exact: true }"
            id="login"
            >Log-in</a
          >
        </p>
        <br />
      </form>
    </section>

    <section id="two">
      <img
        id="image"
        src="https://img.freepik.com/free-photo/robot-hand-finger-pointing-technology-artificial-intelligence_53876-129777.jpg?size=626&ext=jpg&ga=GA1.1.1081711293.1694664522&semt=ais"
        alt=""
      />
    </section>
  </div>
</main>
