@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

main {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif, Roboto, -apple-system;
    font-size: 2.5vh;
    color: #002146;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 0 10px rgba(241, 207, 19, 0.823);
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    margin-top: 3rem;
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    width: 80%;
    height: auto;
    margin: auto 10%;
    border: 0px transparent transparent;
}
#image {
    height:100vh;
    width:100%;
    margin: 5% auto;
}
#one {
    margin-top: 2rem;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    padding: auto;
}
#two {
    top: 0;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    padding: auto;
}

.eyeicon {
    position: absolute;
    margin-top: 22px;
    right: 50%;
}
input {
    border: 2px solid rgb(195, 221, 230);
    position: relative;
}
input:focus {
    outline: none;
    border: 2px solid whitesmoke;
  }
/* rgb(3, 3, 79) */
#title {
    text-align: center;
    font-weight: bolder;
    font-size: 5vh;
}
#lastname, #firstname, #username, #pwd, #confirmPwd, #email { 
    width: 100%;
    border-radius: 3px;
    margin: 10px auto;
    padding: 10px 20px;
}
#create, #cancel {
    border-radius: 3px;
    padding: 10px 10px;
}
#create {
    width: 140px;
    color: white;
    background-color:#002146;
    margin: 10px 2px 10px 0px;
}
#cancel {
    width: 110px;
    border: 2px solid #002146;
    margin: 10px 10px 10px 0px;
}
#write {
    margin: 10px auto;
    text-align: left;
}
#login {
    color:rgba(0, 0, 255, 0.893);
}

@media screen and (max-width: 600px) {
    main {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    /* #one, #two {
        width: 100%;
        border-right: none;
        margin: 0;
    }
    #two {
        order: 2;
    } */
    /* .eyeicon {
        right: 10%;
    } */
}
@media screen and (max-width: 768px) {
    main {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .col-6 {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 1000px) {
    .eyeicon {
        right: 55%;
    }
    #image {
        margin-left: auto !important;
    }
}