<main>
  <div class="container">
    <section id="one">
      <form class="col-6" [formGroup]="signUpForm" (submit)="onSubmit()">
        <h1 id="title">Create a new account</h1>
        <br />
        <label>Last name:</label><br />
        <input type="text" id="lastname" name="lastName" ngModel required /><br />
        <label>First name:</label><br />
        <input type="text" id="firstname" name="firstName" ngModel required /><br />
        <label>Username:</label><br />
        <input type="text" id="username" name="userName" ngModel required /><br />
        <label>Password:</label><br />
        
        <div class="password-container">
          <input [type]="showPassword ? 'password' : 'text'" id="pwd" name="password" required ngModel minlength="6">
          <span class="eyeicon" (click)="togglePasswordVisibility('password')">
              <i [ngClass]="switchIcon ? 'fa-solid fa-eye' : 'fa-regular fa-eye'"></i>
          </span>
        </div>

        <label>Confirm password:</label><br />
        <div class="password-container">
          <input [type]= "showPassword ? 'password':'text'" id="confirmPwd" name="password" required ngModel minlength="6">
          <span class="eyeicon" (click)="togglePasswordVisibility('password')">
          <i [ngClass]="switchIcon ? 'fa-solid fa-eye' : 'fa-regular fa-eye'"></i>
        </span>
        </div>

        <div *ngIf="!confirmPasswordMatch()">Passwords do not match!</div>
        <label>Country:</label><br />
        <input type="text" id="email" name="email" formControlName="email"/><br />
        <button id="create" [disabled]="!confirmPasswordMatch()">{{isLoading?'CREATING': 'CREATE'}}</button>
        <button id="cancel" [routerLink]="['/login']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }">CANCEL</button>
        <p id="write">
          Got an Account?<br />
          <a
            [routerLink]="['/login']"
            routerLinkActive="active active-style"
            [routerLinkActiveOptions]="{ exact: true }"
            id="login"
            >Log-in</a
          >
        </p>
        <br />
      </form>
    </section>

    <section id="two">
      <img
        id="image"
        src="assets/images/robot1.png"
        alt=""
      />
    </section>
  </div>
</main>
