<main>
  <div class="container">
    <section id="one">
      <form class="col-6" [formGroup]="signUpForm" (submit)="onSubmit()">
        <h1 id="title">Create a new account</h1>
        <!-- @if (errorMessage) {
          <small class="text-red-600 text-center block text-[0.8rem]">{{errorMessage}}</small>
        } -->
        <br />
        <label>Last name</label><br />
        <input type="text" id="lastname" name="lastName" formControlName="lastname" required /><br />
        <div class="ngIf" *ngIf="signUpForm.get('lastname')!.hasError('required') && signUpForm.get('lastname')!.touched">
          Last name is required.
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('lastname')!.hasError('minlength') && signUpForm.get('lastname')!.touched">
          Name must be at least 3 characters long.
        </div>

        <label>First name</label><br />
        <input type="text" id="firstname" name="firstName" formControlName="firstname" required /><br />
        <div class="ngIf" *ngIf="signUpForm.get('firstname')!.hasError('required') && signUpForm.get('firstname')!.touched">
          First name is required.
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('firstname')!.hasError('minlength') && signUpForm.get('firstname')!.touched">
          Name must be at least 3 characters long.
        </div>

        <label>Username</label><br />
        <input
          type="text"
          id="username"
          name="userName"
          required
          formControlName="username"
        />
        <br />
        <div class="ngIf" *ngIf="signUpForm.get('username')!.hasError('required') && signUpForm.get('username')!.touched">
          Username is required.
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('username')!.hasError('minlength') && signUpForm.get('username')!.touched">
          Name must be at least 3 characters long.
        </div>

        <label>Password:</label><br />
        <div class="password-container">
          <input [type]="showPassword ? 'password' : 'text'" id="pwd" formControlName="password" required>
          <span class="eyeicon" (click)="togglePasswordVisibility('password')">
              <i [ngClass]="switchIcon ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
          </span>
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('password')!.hasError('required') && signUpForm.get('password')!.touched">
          Password is required.
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('password')!.hasError('minlength') && signUpForm.get('password')!.touched">
          Password must be at least 5 characters long.
        </div>

        <label>Confirm password:</label><br />
        <div class="password-container">
          <input [type]= "showPassword ? 'password':'text'" id="confirmPwd" formControlName="confirmPassword" required>
          <span class="eyeicon" (click)="togglePasswordVisibility('password')">
          <i [ngClass]="switchIcon ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </span>
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('confirmPassword')!.hasError('required') && signUpForm.get('confirmPassword')!.touched">
          Password is required.
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('confirmPassword')!.hasError('minlength') && signUpForm.get('confirmPassword')!.touched">
          Password must be at least 5 characters long.
        </div>
        <div class="ngIf" *ngIf="signUpForm.hasError('mismatch') && signUpForm.get('confirmPassword')!.touched">
          Passwords do not match.
        </div>        


        <label >Email</label><br />
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email" required
        /><br />
        <div class="ngIf" *ngIf="signUpForm.get('email')!.hasError('required') && signUpForm.get('email')!.touched">
          Valid email address is required.
        </div>
        <div class="ngIf" *ngIf="signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched">
          Invalid email address.
        </div>

        <button id="create">{{ isLoading ? "CREATING" : "CREATE" }}</button>
        <button id="cancel" [routerLink]="['/login']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }">CANCEL</button><br>
        <div class="ngIfError" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <p id="write">
          Got an Account?<br />
          <a
            [routerLink]="['/login']"
            routerLinkActive="active active-style"
            [routerLinkActiveOptions]="{ exact: true }"
            id="login"
            >Log-in</a
          >
        </p>
        <br />
      </form>
    </section>

    <section id="two">
      <img
        id="image"
        src="assets/images/robot1.png"
        alt=""
      />
    </section>
  </div>
</main>
