
main {
    background-image: url(../../../assets/images/backpicc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   background-blend-mode:overlay;
   background: linear-gradient(45deg, #d9e9fa, #3F5EFB);

}

/* 
.fill-primary:hover {
fill:#002146;
} */

/* $white: rgba(255,255,255,0.3); */


.container {
    background: rgba(255,255,255,0.3);
    height: 80%;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5%;
}




