<!-- <div>
    <h1>{{ title }}</h1>
    <p>Landing page content will be rendered here. However, I'd be adding a submit button here for routing to the forms page.</p>
    <button>
        <a routerLink="/formspage" routerLinkActive="active" ariaCurrentWhenActive="page">NEXT</a>
    </button>
    <br><br>
</div> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robo-Advisor homepage</title>
  </head>
  <body class="font-primary text-primary">
    <!-- Hero Section -->
    <section id="hero">
      <!-- Flex Container -->
      <div
        class="container flex z-initial flex-col items-center px-6 mx-auto space-y-0 md:space-y-0 md:flex-row"
      >

    
        <!-- Left item -->
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
          <h1
            class="max-w-md text-4xl font-bold text-center mt-16 md:text-5xl md:text-left"
          >
            Welcome, Jon Snow
          </h1>
          <p class="max-w-xl text-center md:text-left">
             Your financial goals is our top priority. Take the first step towards <span class="font-semibold">securing your future wealth</span> by completing our quick and insightful questionnaires.
          </p>

          <p class="max-w-xl text-center md:text-left">
            You are about to fill our <span class="font-semibold">intuitive questionnaire </span>which delves deep into your financial aspirations, risk tolerance, and investment preferences. 
          </p>

          <p class="max-w-xl text-center md:text-left">
           <span class="font-semibold">Your responses </span>serve as the <span class="font-semibold">foundation</span> for our cutting-edge algorithms to craft customized investment strategies perfectly suited to your unique needs.
          </p>

          <p class="max-w-xl text-center text-semibold md:text-left">
            Start Your Journey to Financial Success
          </p>
          <div class="flex justify-center md:justify-start">
            <a
            class="p-3 px-6 pt-2 w-48 text-white bg-primary rounded-lg cursor-pointer transition duration-300 baseline hover:text-primary md:w-72 text-center text-xl border-2 border-solid border-primary font-semibold hover:bg-white"
            [routerLink]="['formspage']"
            routerLinkActive="active active-style"
            [routerLinkActiveOptions]="{ exact: true }"
            >Get Started</a
          >
          </div>
        </div>
        <!-- Image -->
        <div class="md:w-2/5 md:h-2/5">
          <img 
          class="p-8 md:mb-32"
           src="../../../assets/images/robot.png"alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
