<!-- Navbar -->
<nav class="fixed top-0 container mx-auto z-10">
  <!-- Flex container -->
  <div class="flex items-center bg-primary justify-between md:h-12 w-screen">
    <!-- Logo -->
    <div class="p-2 bg-white">
      <a [routerLink]="['']">
        <img src="../../../assets/images/logo.png" alt="logo" class="max-w-10" />
      </a>
    </div>
    <!-- Menu Items -->
    <div class="hidden space-x-8 pr-16 md:flex">
      <a
        class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-lightprimary text-base"
        [routerLink]="['']"
        routerLinkActive="active  active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >

      <a
        class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-lightprimary text-base"
        [routerLink]="['/formspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Get Started</a
      >

      <a
        class="font-semibold hover:text-firstgold text-white hover:border-b-2 hover:border-b-lightprimary text-base"
        [routerLink]="['/aboutuspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >About Us</a
      >

      <a
        class="font-semibold hover:text-firstgold text-white hover:border-b-2 hover:border-b-lightprimary text-base"
        [routerLink]="['/contactuspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact Us</a
      >
    </div>

    <!-- Hamburger Icon -->
    <button
      class="block hamburger mr-4 sm:mr-4 md:mr-0 md:hidden focus:outline-none"
      (click)="toggleMenu()"
      [class.open]="isMenuOpen"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <!-- Mobile Menu -->

  <div
    class="desktop_menu md:mt-24 md:hidden fixed top-12 right-0 z-50 transition ease-in-out bg-primary w-5/6 h-72"
    id="menu"
    [ngClass]="{ hidden: !menuOpen }"
  >
    <ul class="list-none text-white">
      <li class="block text-left py-4 pl-6 border-b border-gray-300">
        <a class="hover:text-firstgold "
         [routerLink]="['']"
        routerLinkActive="active  active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >


      </li>
      <li class="block text-left py-4 pl-6 border-b border-gray-300">
        <a class="hover:text-firstgold "
         [routerLink]="['/formspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Get Started</a
      >


      </li>
      <li class="block text-left py-4 pl-6 border-b  border-gray-300">
      <a class="hover:text-firstgold "
        [routerLink]="['/aboutuspage']"
      routerLinkActive="active active-style"
      [routerLinkActiveOptions]="{ exact: true }"
      >About Us</a
    >

      </li>
      <li class="block text-left py-4 pl-6 border-b border-gray-300">
        <a class="hover:text-firstgold "
        [routerLink]="['/contactuspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact Us</a
      >
      </li>
    </ul>
  </div>
</nav>