<!-- Navbar -->
<nav class="fixed top-0 container mx-auto z-10">
  <!-- Flex container -->
  <div class="flex items-center bg-primary justify-between md:h-12 w-screen">
    <!-- Logo -->
    <div class="p-2">
      <a [routerLink]="['']">
        <img
          src="../../../assets/images/logo.png"
          alt="logo"
          class="max-w-32"
        />
      </a>
    </div>
    <!-- Menu Items -->
    <div class="hidden space-x-8 pr-16 md:flex">
      <a
        class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-primary text-base"
        [routerLink]="['/homepage']"
        routerLinkActive="active  active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a>
        <a
        class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-primary text-base"
        [routerLink]="['/faq']"
        routerLinkActive="active  active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >FAQ's</a>
      <!-- @if (isLoggedIn$ | async) {
        <a
          class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-primary text-base"
          [routerLink]="['/login']"
          routerLinkActive="active active-style"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="logOut()"
          >Logout</a
        >
      } @else {
        <a
          class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-primary text-base"
          [routerLink]="['/login']"
          routerLinkActive="active active-style"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      } -->
<!-- 
      <div *ngIf="isLoggedIn$ | async; else loggedOutLinks">
        <a
          [routerLink]="['/login']"
          class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-primary text-base"
          (click)="logOut()"
          >Logout</a
        >
      </div>
      <ng-template #loggedOutLinks>
        <a [routerLink]="['/login']" class="font-semibold hover:text-firstgold text-white align-top hover:border-b-2 hover:border-b-primary text-base">Login</a>
      </ng-template> -->

      <a
        class="font-semibold hover:text-firstgold text-white hover:border-b-2 hover:border-b-primary text-base"
        [routerLink]="['/aboutuspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >About Us</a
      >

      <a
        class="font-semibold hover:text-firstgold text-white hover:border-b-2 hover:border-b-primary text-base"
        [routerLink]="['/contactuspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact Us</a
      >
    </div>

    <!-- Hamburger Icon -->
    <button
      class="block hamburger pr-16 mr-8 md:pr-0 md:hidden focus:outline-none"
      (click)="toggleMenu()"
      [class.open]="isMenuOpen"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <!-- Mobile Menu -->

  <div
    class="desktop_menu md:mt-24 md:hidden fixed top-20 right-0 z-50 transition ease-in-out bg-[#d9e9fa] h-screen"
    id="menu"
    [ngClass]="{ hidden: !menuOpen }"
  >
    <ul class="list-none text-white">
      <li class="block text-left py-4 pl-6 border-b border-t bg-primary border-gray-300">
        <a
        [routerLink]="['/homepage']"
        routerLinkActive="active  active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        >Home</a>
      </li>
      <li class="block text-left py-4 pl-6 border-b bg-primary border-gray-300">
        <a
       [routerLink]="['/faq']"
        routerLinkActive="active  active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        >FAQ's</a>
      </li>

      <li class="block text-left py-4 pl-6 border-b bg-primary border-gray-300">
      <a
      [routerLink]="['/aboutuspage']"
      routerLinkActive="active active-style"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleMenu()"
      >About Us</a
    >


      </li>
      <li class="block text-left py-4 pl-6 border-b bg-primary border-gray-300">
        <a
        [routerLink]="['/contactuspage']"
        routerLinkActive="active active-style"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        >Contact Us</a
      >
      </li>
    </ul>
  </div>
</nav>
