<section class="flex-1 relative">
  <div class="w-[96%] mx-auto mt-2">
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <p class="font-mono p-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
        adipisci possimus ut cumque, voluptatibus, deserunt recusandae
        voluptatum vero porro autem quos consequuntur perferendis repudiandae
        totam qui! Placeat expedita accusantium deleniti eaque numquam! Aperiam
        sapiente quas in, esse optio quae expedita natus, rem obcaecati
        voluptatum porro corporis dolor! Sunt corporis earum tempore omnis
        consequuntur, nobis iste suscipit laborum hic totam aut libero quo
        soluta nemo deleniti quidem excepturi, blanditiis, qui illum rem facere!
        Minima voluptatibus, possimus repellendus quis corporis, iure placeat
        dignissimos harum eligendi laboriosam nisi error at reiciendis? Incidunt
        repellendus architecto maiores, esse dignissimos nam eos, cumque,
        asperiores quos distinctio minima ullam enim tempore quae maxime!
        Obcaecati iusto ullam repellendus non, ducimus explicabo dolorum totam
        tempora. Dicta repudiandae expedita sequi.
      </p>
      <app-doughnut-chart class="bg-slate-300 p-0 z-0" />
    </div>
    <div class="grid grid-cols-1 gap-1 w-full h-full">
      <app-bar-chart class="bgs p-4 w-[90%] mx-auto z-0" />
    </div>
    <div class="table-advice grid-cols-1 sm:grid-cols-2 gap-2">
      <app-table />
    </div>
  </div>
</section>
