<section class="flex-1 relative">
  <div class="w-[96%] mx-auto mt-2">
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="font-mono p-4">
        <h2 class="font-bold font-mono">Recommendations</h2>
        <div class="grid grid-cols-2 p-4">
          <p>
            <span class="font-bold">Nigerian Treasury Bills (NTB):</span>
            NTBs are low-risk investments issued by the Central Bank of Nigeria,
            providing stable returns of 10-15%. Suitable for conservative
            investors seeking capital preservation with reasonable yields.
          </p>
          <p>
            <span class="font-bold">Fixed Deposit Account:</span>
            Fixed Deposit Accounts offer a secure way to invest with expected
            returns of 7-10%. Ideal for investors prioritizing safety and
            liquidity over the short to medium term.
          </p>
          <p>
            <span class="font-bold">Mutual Fund:</span>
            Mutual funds like STANBIC IBTC Nigerian Equity Fund provide
            diversification and professional management, targeting returns of
            12-18%. Suitable for moderate risk-tolerant investors with long-term
            goals.
          </p>
          <p>
            <span class="font-bold">Exchange Traded Fund (ETF):</span>
            ETFs like NEWGOLD ETF offer diversification and exposure to specific
            assets, such as gold, with returns of 8-12%. Recommended for
            portfolio diversification and hedging against market volatility.
          </p>
          <p>
            <span class="font-bold">Real Estate Investment Trust (REIT):</span>
            REITs like Skye Shelter Fund provide exposure to real estate without
            direct ownership, targeting returns of 10-14%. Suitable for
            investors seeking stable income and potential capital appreciation
            in real estate.
          </p>
        </div>
      </div>
      <app-doughnut-chart class="bg-slate-300 p-0 z-0" />
    </div>
    <div class="grid grid-cols-1 gap-1 w-full h-full">
      <app-bar-chart class="bgs p-4 w-[90%] mx-auto my-auto" />
    </div>
    <div class="table-advice grid-cols-1 sm:grid-cols-2 gap-2">
      <app-table />
    </div>
  </div>
</section>
