<section class="flex-1 relative">
  <div class="w-[96%] mx-auto mt-2">
    <div class="table-advice grid-cols-1 sm:grid-cols-2 gap-2">
      <app-table />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="grid grid-cols-1 gap-1 w-full h-full">
        <app-bar-chart class="bgs p-4 w-[90%] mx-auto my-auto" />
      </div>
      <app-doughnut-chart class="bg-slate-300 p-0 z-0" />
    </div>
    <div class="font-mono p-4">
      <h2 class="font-bold font-mono text-lg pl-4 ">Recommendations</h2>
      <hr id="break">
      <div class="grid grid-cols-2 p-4 gap-4">
        @for (item of chartInfo; track item) {
          <p class="text-base">
            <span class="font-bold text-lg">{{ item.financial_product }}:</span>
            {{ item.brief_description }}
          </p>
        }
      </div>
    </div>
  </div>
</section>
