<small
  class="text-red-600"
  [class.visible]="
    attemptedToNavigate &&
    (!formControlValue || (currentQuestion === 0 && formControlValue === 0  ) || (currentQuestion === 7 && formControlValue === '' ))
  "
  [class.invisible]="
    !attemptedToNavigate ||
    (formControlValue && !(currentQuestion === 0 && formControlValue === 0 ) && !(currentQuestion === 7 && formControlValue === '' ))
  "
>
  @if (currentQuestion === 0) {
    Please enter age
  } @else if (currentQuestion === 2) {
    please enter an appriopriate number
  } @else if (currentQuestion === 5) {
    kindly enter investment amount
  } @else if (currentQuestion === 7) {
    kindly tell me your desired location
  } @else {
    please select an option
  }
</small>
