<p class="font-bold my-2">
    <!-- @if (question[question]?.text]) {
    } -->
  </p>
  <!-- <form [formGroup]="myForm" class="p-4 grid form-check">
    @for (option of questions[currentQuestion].options; track option.label)
    {
    <label
      class="custom-radio text-start p-2 mb-2 rounded-full bg-slate-200"
      [ngClass]="{
        'border-red-600 border':
          attemptedToNavigateFlags[currentQuestion] &&
          !myForm.get('question' + currentQuestion)?.value,
        'border-blue-600 border':
          myForm.get('question' + currentQuestion)?.value === option.value
      }"
      for="option-{{ option.value }}"
    >
      <input
        class="mb-2 text-start peer:checked+label:bg-blue-500"
        type="radio"
        id="option-{{ option.value }}"
        name="question{{ currentQuestion }}"
        formControlName="question{{ currentQuestion }}"
        value="{{ option.value }}"
        (change)="onChange($event)"
      />
      {{ option.label }}
    </label>

    }
    <small
      class="text-red-600"
      [class.visible]="
        attemptedToNavigateFlags[currentQuestion] &&
        !myForm.get('question' + currentQuestion)?.value
      "
      [class.invisible]="
        !attemptedToNavigateFlags[currentQuestion] ||
        myForm.get('question' + currentQuestion)?.value
      "
    >
      Please select an option
    </small>
  </form> -->