<!-- <div class="sidenav fixed bg-primary z-20 top-12 w-16 h-screen shadow-blue-500 transition-all duration-100 ease-in-out" [ngClass]="collapsed ? 'sidenav-collaped':''">
<div class="logo-container flex align-items-center p-3 w-full">
    <button class="logo p-2 bg-white rounded-md" (click)="toggleCollapse()"> <img src="../../../assets/images/logo.png" alt="logo" class="max-w-6" /></button>
    <div class="logo-text ml-4 text-base font-bold text-white cursor-pointer	" *ngIf="collapsed">Robo-Advisor</div>
    <button class="btn-close cursor-pointer	ml-auto w-8 h-8 rounded-lg bg-transparent"  (click)="closeSidenav()" *ngIf="collapsed">
        <i class="fa-solid fa-x" id="fa-times"></i>
    </button>
</div>


<ul class="sidenav-nav flex flex-col list-none p-3 m-0 align-items-center h-full cursor-pointer">
<li class="sidenav-nav-item w-full mb-3 " *ngFor="let data of navData">
<a [routerLink]="[data.RouterLink]" class="sidenav-nav-link flex align-items-center h-12 text-white rounded-md list-none transition-all duration-300 ease-in-out hover:bg-white hover:text-primary">
    <i class="sidenav-link-icon text-base w-8 m-3 text-center " [class]="data.icon"></i>
    <span class="sidenav-link-text font-bold ml-3 pt-2.5" *ngIf="collapsed">{{data.label}}</span>
</a>
</li>
</ul>
</div>> -->

<div
  class="sidenav fixed bg-primary z-20 top-12 w-16 h-screen shadow-blue-500 transition-all duration-100 ease-in-out"
  [ngClass]="collapsed ? 'sidenav-collaped' : ''"
>
  <div class="logo-container flex align-items-center  p-3 w-full">
    <button class="logo p-2 pb-2 h-8 w-8 bg-white rounded-3xl justify-center align-items-center" (click)="toggleCollapse()">
      <i class="fa-regular fa-user"></i>
    </button>
    <div
      class="logo-text ml-4 font-semibold text-white cursor-pointer"
      *ngIf="collapsed"
    >
      <p class="text-sm">Jon Snow</p>
      <p class="text-xs">jon.snowgmail.com</p>
    </div>
    <button
      class="btn-close cursor-pointer ml-auto w-8 h-8 p-2 rounded-lg bg-transparent"
      (click)="closeSidenav()"
      *ngIf="collapsed"
    >
      <i class="fa-solid fa-x" id="fa-times"></i>
    </button>
  </div>

  <ul
    class="sidenav-nav flex flex-col list-none p-3 m-0 align-items-center h-4/6 cursor-pointer"
  >
    <li class="sidenav-nav-item w-full mb-3" *ngFor="let data of navData">
      <a
        [routerLink]="[data.RouterLink]"
        class="sidenav-nav-link flex align-items-center h-12 text-white rounded-md list-none transition-all duration-300 ease-in-out hover:bg-white hover:text-primary"
        id="sidenav-nav-link"
      >
        <i
          class="sidenav-link-icon text-base w-8 m-3 text-center"
          [class]="data.icon"
          id="sidenav-nav-icon"
        ></i>
        <span
          class="sidenav-link-text font-bold ml-3 pt-2.5"
          *ngIf="collapsed"
          id="sidenav-nav-text"
          >{{ data.label }}</span
        >
      </a>
    </li>

    <!-- <li class="sidenav-nav-item w-full mb-3" *ngFor="let data of navData">
        <a
        [routerLink]="[data.RouterLink]"
          class="sidenav-nav-link flex align-items-center h-12 text-white rounded-md list-none transition-all duration-300 ease-in-out hover:bg-white hover:text-primary"
          id="sidenav-nav-link"
        >
        <i  id="sidenav-nav-icon" [class]="data.icon"
        (mouseenter)="showLabel = true" (mouseleave)="showLabel = false"
        >
</i>
        <span
        class="sidenav-link-text label font-bold ml-3 pt-2.5"
        *ngIf="(showLabel && !collapsed) || (!collapsed && !showLabel)"
        >{{ data.label }}</span
      >    
      
      <span
      class="sidenav-link-text label font-bold ml-3 pt-2.5"
      *ngIf="(!showLabel && collapsed) || (collapsed && showLabel)"
      >{{ data.label }}</span
    > 

    
        </a>
      </li> -->

  </ul>


  <div class="logo-container  flex align-items-center  p-3 w-full">
    <button class="logo p-2 h-8 w-8 bg-white rounded-md justify-center align-items-center" (click)="logOut()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </button>
    <div
      class="logo-text ml-4 font-bold text-white cursor-pointer"
      *ngIf="collapsed"
    >
      <button class="text-sm">Log out</button>
    </div>
    
  </div>

</div>
>
