<main>
  <div>
    <table class="log-page">
      <tbody>
        <tr>
          <td id="first">
            <div class="write-ups">
              <h1 id="head1">Transact Easily</h1>
              <button id="break"></button>
              <h1 id="head2">
                Your Personalized Robo-Advisor<br />
                for Asset/Investment<br />
                Recommendations<br />
              </h1>
              <button id="started">GET STARTED</button>
            </div>
          </td>

          <td id="second">
            <div>
              <form id="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
                <section id="mylabel">
                  <p id="sign">Sign in with your details</p>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    required
                    placeholder="Username"
                    formControlName="email"
                  />
                  <br />
                  <div class="password-container">
                    <input
                      [type]="showPassword ? 'password' : 'text'"
                      placeholder="Password"
                      id="pwd"
                      required
                    />
                    <span
                      class="eyeicon"
                      (click)="togglePasswordVisibility()"
                    >
                      <i
                        [ngClass]="
                          switchIcon ? 'fa-solid fa-eye' : 'fa-regular fa-eye'
                        "></i>
                    </span>
                  </div>
                  <br />

                  <button id="login" type="submit">{{isLoading?'LOGGING IN...': 'LOG IN'}}</button>
                  <br />
                </section>

                <section>
                  <p id="par">
                    Is this your first time here? For full access, you need to
                    sign-up.
                  </p>
                  <a
                    id="crt-acct"
                    [routerLink]="['/signup']"
                    routerLinkActive="active active-style"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >CREATE NEW ACCOUNT</a
                  >
                  <br /><br />
                </section>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
