<div class="card p-4 pb-1 my-2 flex-1 h-full slide-in-stop">
  <div class="p-4 pb-1 bg-white text-black rounded-md flex flex-col h-full">
    <div class="top flex justify-between">
      <p class="font-[poppins] text-[.75rem]">
        Investment:
        <span class="fonnumber;ld font-mono text-[.87rem]">{{
          item.financial_product
        }}</span>
      </p>
      <p>
        <span
          class="text-sm font-bold bg-[#ce9f39] w-9 h-9 rounded-full text-white flex items-center justify-center"
          >{{ item.composition }}</span
        >
      </p>
    </div>
    <p
      class="font-[poppins] text-[.8rem] font-bold mt-8"
      [ngClass]="{ 'mt-3': showFullContent }"
    >
      Provider:
      <span class="font-bold font-mono text-[.86rem]">{{ item.provider }}</span>
    </p>
    <p class="font-[poppins] text-[.75rem]">
      Expected amount:
      <span class="font-bold font-mono text-[.86rem]">{{ item.estimatedReturnValue}}</span>
    </p>

    
    <p class="font-[poppins] text-[.75rem]">
      Expected Amount:
      <span class="font-bold text-green-600 font-mono text-[.86rem]">{{ item.estimatedReturnValue }}</span>
    </p>


    <div class="bottom mb-2">
      <span class="text-green-700"
        ><fa-icon [icon]="faArrowUp" /> {{ item.expectedReturn }}
        <small class="text-gray-500">expected returns</small></span
      >
    </div>
  </div>
</div>
